<%= form_with(url: export_pokemons_path, local: true, data: { turbo: false, controller: 'catch', action: 'submit->catch#uncheck' }) do |form| %>
  <div class="two-columns">
    <% @pokemons.each do |pokemon| %>
      <div class="pokemon-card" data-controller="mouse-hover-image" data-action="mouseenter->mouse-hover-image#showShiny mouseleave->mouse-hover-image#showRegular">
          <img src="<%= pokemon.url_regular %>" data-mouse-hover-image-target="regular">
          <img src="<%= pokemon.url_shiny %>" data-mouse-hover-image-target="shiny">
        <h3 class="pokemon-card-title"><%= pokemon.name %></h3>
        <p class="pokemon-card-subtitle">N°<%= pokemon.pokedex_id %></p>
        <p class="pokemon-card-subtitle">Type: <%= pokemon.types.map(&:capitalize).join(', ') %></p>
        <% unless pokemon.name_of_previous_form.blank? %>
          <p class="pokemon-card-subtitle">Précédente forme <%= pokemon.name_of_previous_form %></p>
        <% end %>
        <% unless pokemon.name_of_evolution.blank? %>
          <p class="pokemon-card-subtitle">Évolue en <%= pokemon.name_of_evolution %></p>
        <% end %>
        <p>Ajoute le dans ton CsvDex en appuyant sur la Pokeball</p>
        <div class="track">
          <div class="pokeball">
            <%= check_box_tag 'pokemon_ids[]', pokemon.id, false, data: { catch_target: 'checkbox', pokemon_name: pokemon.name } %>
            <div class="pokeball__contents">
            <div class="pokeball__inner"></div>
            <div class="pokeball__crossbar"></div>
            </div>
            </div>
          </div>
      </div>
    <% end %>
    <div class="actions">
      <p>Si tu veux</p>
      <p>exporter</p>
      <p>tes Pokemons</p>
      <p>clique sur</p>
      <p>la PokeBall</p>
      <%= submit_tag "", class: "pokebtn" %>
    </div>
  </div>
<% end %>
